* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #F6762C;
}
.wrapper {
    min-height: 100%;
    background-color: #1C1C1C;
}
ul {
    margin: 0;
    padding: 0;
}
ul>li {
list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.hero {
    background: url(../img/content/hero-bg.jpg) no-repeat center/cover;
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    padding: 25px 0px;
    justify-content: space-between;
}
.logo {
    width: 50px;
    height: 42px;
    display: block;
}
.logo__pic {
}
.nav {
}
.nav__list {
    display: flex;
}
.nav__item {
    margin-right: 28px;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__link {
font-weight: 400;
font-size: 14px;
line-height: 1.14px;
color:#FFFFFF;
}
.btn {
background: #F6762C;
border-radius: 5px;
font-weight: 500;
font-size: 16px;
padding: 15px 36px;
color:#FFFFFF;
border-style: none;
}
.hero__content {
    max-width: 49%;
    padding-top: 186px;

}
.hero__info {
    color: #FFFFFF;
}
.hero__headline {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.1em;
margin-bottom: 15px;
}
.title {
font-style: normal;
font-weight: 500;
font-size: 57px;
line-height: 1.18;
}
.hero__title {
    margin-bottom: 30px;
}
.hero__desc {
 font-weight: 400;
font-size: 18px;
line-height: 1.17;
color: rgb(255, 255, 255, 0.7);
margin-bottom: 42px;
}
.food {
padding: 115px 0px 102px;
}
.food__list {
    display: flex;
    justify-content: space-between;
}
.food__item {
    width: 23%;
    background-color: rgba(49, 47, 48, 1);
    border-radius: 10px;
    overflow: hidden;
}
.dish__img-wrap {
    overflow: hidden;
    width: 100%;
    height: 172px;
}
.dish__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dish__desc {
    padding: 30px;
    text-align: center;
}
.dish__title {
font-weight: 500;
font-size: 20px;
line-height: 23px;
margin-bottom: 13px;
}
.dish__text {
   
}
.paragraph {
 font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.order {
    padding: 73px 0px 0px 85px;
    background: #312F30;
}
.order__content {
    display: flex;
    align-items: center;
}
.order__img-wrap {
}
.order__img {
}
.order-info {
    max-width: 371px;
    margin-left: 98px;
}
.order__column{
    width: 50%;
}
.order__title {
    font-weight: 500;
font-size: 44.2px;
line-height: 52px;
margin-bottom: 24px;
}
.order__text {
    margin-bottom: 13px;
}
.price {
font-weight: 500;
}
.order__price{
    margin-bottom: 11px;
}
.price__new {
    font-weight: 500;
font-size: 20px;
line-height: 1.15;
letter-spacing: 0.1em;
color: #F6762C;

}
.price__old {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19px;
letter-spacing: 0.1em;
text-decoration-line: line-through;
color: rgba(246, 118, 44, 0.5);
}
.product {
    padding: 150px 0px 146px;
}
.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.product__item {
    width: 48%;
    height: 300px;
}
.product__item:nth-child(even) .offer__content{
right: auto;
left: 50px;
}
.offer {
position: relative;
}
.offer__img-wrap {
    width: 100%;
    height: 100%;
}
.offer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offer__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 47%;
    padding-right: 20px;
}
.offer__title {
}
.offer__paragraph {
}
.price {
}
.offer__price {
}
.price__new {
}
.offer__price-new {
}
.price__old {
}
.offer__btn {
}
.feedback {
padding: 146px 0px 194px;
}
.feedback__container{
    display: flex;
    align-items: center;
}
.feedback__column {
width: 50%;
}
.avatars {
    border: 1px dashed rgba(246, 118, 44, 0.3);
    width: 346px;
    height: 346px;
    position: relative;
    border-radius: 50%;
    transform: rotate(-65deg);
}

.avatars::before {
    display: block;
    content: "";
    position: absolute;
    border: inherit;
    width: 230px;
    height: 230px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
}

.avatar {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback__avatar {
    position: absolute;
}

.feedback__avatar:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%);
    height: 77.22px;
    width: 77.22px;
}

.feedback__avatar:nth-child(2) {
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback__avatar:nth-child(3) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    height: 70.98px;
    width: 70.98px;
}

.feedback__avatar:nth-child(4) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 74.83px;
    width: 74.83px;
}

.feedback__avatar:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 112px;
    height: 112.17px;
}

.avatar__link {}

.feedback__avatar .avatar__img {
    transform: rotate(65deg);
}

.avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.review {
min-width: 368px;
text-align: center;
position: relative;
}
.review::before {
    content: "";
    display: block;
    width: 43px;
    height: 43px;
    background-color: rgba(246, 118, 44, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 40px));
}
.review::after{
    content: "";
    display: block;
    width: 43px;
    height: 43px;
    background: url(../img/icons/кавычки.svg) center/contain no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(calc(-50% - 10px), calc(-100% - 37px));
}
.review__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.review__user-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.review__user-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.footer {
    padding: 86px 0px 140px;
}
.container {
}
.footer__container {
    display: flex;
    column-gap: 92px;
}
.footer__contact {

}
.logo {
}
.logo__pic {
}
.block-link {
    display: flex;
}
.block-link__icon {
    
    width: 12px;
    height: 12px;
    left: 230px;
    top: 3826px;
    
}
.block-link__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.footer__nav {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    flex: 1;
}
.footer__nav-col {
}
.footer__nav-title {
    font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.footer__list {
}
.footer__item {
}
.footer__nav-link {
    font-weight: 400;
font-size: 12px;
line-height: 14px;
}
.social {
    display: flex;
}
.social__item {
}
.social__link {
}
.footer__logo {
    height: 110px;
    width: 110px;
}
.download {
    width: 100%;
    height: 170px;
    background-color: #312F30;
    padding-top: 62px;
}
.download__container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}
.download__column {
    width: 50%;
}
.download__text{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}